bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/RawData/
/Test Recipes/
/.idea/.idea.WhatsForDinner/.idea/.gitignore
/.idea/.idea.WhatsForDinner/.idea/encodings.xml
/.idea/.idea.WhatsForDinner/.idea/indexLayout.xml
/.idea/.idea.WhatsForDinner/.idea/vcs.xml
/WhatsForDinner.sln.DotSettings.user
/RawDataExtracted/
scripts/repair_recipes_from_images.py
